
<nav
  class="flex text-lg mb-8"
  role="navigation"
>
  <div class="pb-1">
  	<LinkTo @route="bands.band.details">
  		Detalle Banda
  	</LinkTo>
  </div>

  <div class="ml-4 pb-1">
  	<LinkTo @route="bands.band.songs">
  		Canciones
  	</LinkTo>
  </div>
</nav>

{{outlet}}